.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--bg-inverted-color);
    height: calc(100vh - var(--header-height));
    transition: width 0.4s;
    width: 100px;
}

.opened {
    width: 200px;
}
